# Copyright The Linux Foundation and each contributor to LFX.
# SPDX-License-Identifier: MIT
---
{{- if and .Values.openfga.enabled (index .Values "fga-operator" "enabled") }}
apiVersion: extensions.fga-operator/v1
kind: AuthorizationModelRequest
metadata:
  name: {{ index .Values "fga-operator" "store" }}
  labels:
    {{- include "lfx-platform.labels" . | nindent 4 }}
    app.kubernetes.io/component: openfga
spec:
  instances:
{{/*
  Each change to the authorization model should be accompanied by a version bump.
  These are the recommended guidelines for versioning:
    - major: Modifications, deletions, or additions of type
    - minor: Additions or deletions of relations
    - patch: Modifications of define
*/}}
    - version:
        major: 7
        minor: 2
        patch: 2
      authorizationModel: |
        model
          schema 1.1

        type user

        type team
          relations
            define member: [user]

        type project
          relations
            define parent: [project]
            define owner: [team#member] or owner from parent
            define writer: [user] or owner or writer from parent
            define auditor: [user, team#member] or writer or auditor from parent
            # The meeting_coordinator relation identifies a user who can manage any meeting
            # for a given project.
            define meeting_coordinator: [user]
            define viewer: [user:*] or auditor or auditor from parent

        type committee
          relations
            define member: [user]
            define project: [project]
            # The self_for_member_basic_profile_access relation provides a self-referential
            # relationship that allows committee members to view basic profile information of
            # other members within the same committee.
            define self_for_member_basic_profile_access: [committee]
            define writer: [user] or writer from project
            define auditor: [user, team#member] or writer or auditor from project or meeting_coordinator from project
            define basic_profile_viewer: auditor or member from self_for_member_basic_profile_access
            define viewer: [user:*] or member or auditor

        type groupsio_service
          relations
            define project: [project]
            define owner: [user] or owner from project
            define writer: [user] or writer from project or owner
            define auditor: [user] or auditor from project or writer
            define viewer: [user:*] or auditor from project

        type groupsio_mailing_list
          relations
            define groupsio_service: [groupsio_service]  # Parent relationship
            define project: project from groupsio_service # Inherit project permissions
            define committee: [committee] # Inherit committee permissions
            define owner: owner from groupsio_service
            define writer: [user] or writer from groupsio_service or writer from committee
            define auditor: [user] or auditor from groupsio_service or auditor from committee
            define viewer: [user:*] or viewer from groupsio_service or member from committee
            define member: [user]

        type meeting
          relations
            define project: [project]
            define committee: [committee]
            # The auditor relation identifies a user who can audit this meeting.
            define auditor: organizer or auditor from project
            # The organizer relation identifies a user who can manage this one meeting.
            # That means they can update the meeting details, invite/uninvite participants, etc.
            define organizer: [user] or meeting_coordinator from project or writer from committee or writer from project
            # The host relation identifies a user who is a host of this meeting.
            # This is different than the organizer relation because an organizer isn't necessarily
            # the user who is hosting the meeting, nor is the host necessarily the one who is
            # organizing the meeting. For example, a host may need to retrieve the Zoom host key
            # but shouldn't be able to update the meeting details.
            define host: [user] or organizer
            # The participant relation identifies a user who is a participant in this meeting.
            # This can either mean they are invited to the meeting or they attended the meeting
            # without being invited. In either case, they are a participant of that meeting.
            # Note that committee members are not automatically participants of meetings,
            # because the backend service needs to only include members from the committee
            # based on the voting status filters of that meeting. That is managed by the backend
            # services and therefore can't be a relationship in the authorization model.
            define participant: [user] or host
            # The viewer relation identifies a user who can view this meeting.
            # If the meeting is public, then any user can view it; but if it is private, then
            # only certain privileged users can view it.
            define viewer: [user:*] or participant or organizer or auditor

        # The meeting_attachment type identifies an attachment of a meeting.
        type meeting_attachment
          relations
            define meeting: [meeting]
            define writer: organizer from meeting
            define auditor: writer or auditor from meeting
            define participant: participant from meeting
            define viewer: [user:*] or participant or writer or auditor

        type past_meeting
          relations
            define project: [project]
            define committee: [committee]
            # The meeting relation identifies the meeting that this past meeting was created from.
            # Note: it is possible that the meeting no longer exists, so having permissions on the
            # meeting become obsolete if the meeting is deleted.
            define meeting: [meeting]
            # The auditor relation identifies a user who can audit this meeting.
            define auditor: organizer or auditor from project or auditor from meeting
            # The organizer relation identifies a user who can manage this one past meeting.
            # That means they can update the past meeting details, update the participants, etc.
            define organizer: [user] or meeting_coordinator from project or writer from project or organizer from meeting
            # The host relation identifies a user who was a host of this past meeting.
            define host: [user] or organizer
            # The invitee relation identifies a participant who was invited to this past meeting.
            define invitee: [user]
            # The attendee relation identifies a participant who attended this past meeting.
            define attendee: [user]
            # The viewer relation identifies a user who can view this past meeting.
            # If the past meeting is public, then any user can view it; but if it is private, then
            # only certain privileged users can view it.
            define viewer: [user:*] or attendee or invitee or organizer or auditor

        # The past_meeting_attachment type identifies an attachment of a past meeting.
        type past_meeting_attachment
          relations
            define past_meeting: [past_meeting]
            define writer: organizer from past_meeting
            define auditor: writer or auditor from past_meeting
            define participant: host from past_meeting or invitee from past_meeting or attendee from past_meeting
            define viewer: [user:*] or participant or writer or auditor

        # The past_meeting_recording type identifies a recording of a past meeting.
        # Access to a recording is limited to one of the following groups:
        # - Only meeting hosts
        # - Only meeting participants
        # - Public (anyone)
        type past_meeting_recording
          relations
            define past_meeting: [past_meeting]
            define writer: organizer from past_meeting
            define auditor: auditor from past_meeting
            define host: host from past_meeting
            define participant: invitee from past_meeting or attendee from past_meeting
            # The following "participant access by related meeting" relations are conditional
            # because they depend on the past meeting artifact_visibility setting. Auditors
            # and writers do however by default have access to view the recording.
            define past_meeting_for_participant_view: [past_meeting]
            define past_meeting_for_attendee_view: [past_meeting]
            define past_meeting_for_host_view: [past_meeting]
            # If the artifact_visibility is public, then every user should be a viewer
            define viewer: [user, user:*] or writer or auditor or invitee from past_meeting_for_participant_view or attendee from past_meeting_for_attendee_view or host from past_meeting_for_host_view

        # The past_meeting_transcript type identifies a transcript of a past meeting.
        # Access to a transcript is limited to one of the following groups:
        # - Only meeting hosts
        # - Only meeting participants
        # - Public (anyone)
        type past_meeting_transcript
          relations
            define past_meeting: [past_meeting]
            define writer: organizer from past_meeting
            define auditor: auditor from past_meeting
            define host: host from past_meeting
            define participant: invitee from past_meeting or attendee from past_meeting
            # The following "participant access by related meeting" relations are conditional
            # because they depend on the past meeting artifact_visibility setting. Auditors
            # and writers do however by default have access to view the transcript.
            define past_meeting_for_participant_view: [past_meeting]
            define past_meeting_for_attendee_view: [past_meeting]
            define past_meeting_for_host_view: [past_meeting]
            # If the artifact_visibility is public, then every user should be a viewer
            define viewer: [user, user:*] or writer or auditor or invitee from past_meeting_for_participant_view or attendee from past_meeting_for_attendee_view or host from past_meeting_for_host_view

        # The past_meeting_summary type identifies a summary of a past meeting.
        # Access to a summary is limited to one of the following groups:
        # - Only meeting hosts
        # - Only meeting participants
        # - Public (anyone)
        type past_meeting_summary
          relations
            define past_meeting: [past_meeting]
            define writer: organizer from past_meeting
            define auditor: auditor from past_meeting
            define host: host from past_meeting
            define participant: invitee from past_meeting or attendee from past_meeting
            # The following "participant access by related meeting" relations are conditional
            # because they depend on the past meeting artifact_visibility setting. Auditors
            # and writers do however by default have access to view the summary.
            define past_meeting_for_participant_view: [past_meeting]
            define past_meeting_for_attendee_view: [past_meeting]
            define past_meeting_for_host_view: [past_meeting]
            # If the artifact_visibility is public, then every user should be a viewer
            define viewer: [user, user:*] or writer or auditor or invitee from past_meeting_for_participant_view or attendee from past_meeting_for_attendee_view or host from past_meeting_for_host_view

        # The following v1 meeting types support read-only, indexer-only data
        # being synced from LFX v1. At this time, they are *distinct types*
        # from the main types above. This encapsulation will make it easier to
        # eventually sunset all such v1 tuples when the data is migrated into
        # the core data models (as this will result in new UUIDs, new relations
        # would have been needed, even if the relation names had been reused
        # for the v1 entities).
        #
        # *All relations are as described in `meeting`, unless otherwise
        # noted.*
        type v1_meeting
          relations
            define project: [project]
            define committee: [committee]
            define auditor: organizer or auditor from project
            # No explicit [user] relation for organizer in v1.
            define organizer: meeting_coordinator from project or writer from committee or writer from project
            define host: [user] or organizer
            define participant: [user] or host
            define viewer: [user:*] or participant or organizer or auditor

        # *All relations are as described in `past_meeting`, unless otherwise noted.*
        type v1_past_meeting
          relations
            define project: [project]
            define committee: [committee]
            define meeting: [v1_meeting]
            define auditor: organizer or auditor from project or auditor from meeting
            # No explicit [user] relation for organizer in v1.
            define organizer: meeting_coordinator from project or writer from project or organizer from meeting
            define host: [user] or organizer
            define invitee: [user]
            define attendee: [user]
            define viewer: [user:*] or attendee or invitee or organizer or auditor

        # *All relations are as described in `past_meeting_recording`, unless
        # otherwise noted.*
        type v1_past_meeting_recording
          relations
            define past_meeting: [v1_past_meeting]
            define writer: organizer from past_meeting
            define auditor: auditor from past_meeting
            define host: host from past_meeting
            define participant: invitee from past_meeting or attendee from past_meeting
            # The following "participant access by related meeting" relations are conditional
            # because they depend on the past meeting artifact_visibility setting. Auditors
            # and writers do however by default have access to view the recording.
            define past_meeting_for_participant_view: [v1_past_meeting]
            define past_meeting_for_attendee_view: [v1_past_meeting]
            define past_meeting_for_host_view: [v1_past_meeting]
            # If the artifact_visibility is public, then every user should be a viewer
            define viewer: [user:*] or writer or auditor or invitee from past_meeting_for_participant_view or attendee from past_meeting_for_attendee_view or host from past_meeting_for_host_view

        # *All relations are as described in `past_meeting_transcript`, unless
        # otherwise noted.*
        type v1_past_meeting_transcript
          relations
            define past_meeting: [v1_past_meeting]
            define writer: organizer from past_meeting
            define auditor: auditor from past_meeting
            define host: host from past_meeting
            define participant: invitee from past_meeting or attendee from past_meeting
            # The following "participant access by related meeting" relations are conditional
            # because they depend on the past meeting artifact_visibility setting. Auditors
            # and writers do however by default have access to view the transcript.
            define past_meeting_for_participant_view: [v1_past_meeting]
            define past_meeting_for_attendee_view: [v1_past_meeting]
            define past_meeting_for_host_view: [v1_past_meeting]
            # If the artifact_visibility is public, then every user should be a viewer
            define viewer: [user:*] or writer or auditor or invitee from past_meeting_for_participant_view or attendee from past_meeting_for_attendee_view or host from past_meeting_for_host_view

        type v1_past_meeting_summary
          relations
            define past_meeting: [v1_past_meeting]
            define writer: organizer from past_meeting
            define auditor: auditor from past_meeting
            define host: host from past_meeting
            define participant: invitee from past_meeting or attendee from past_meeting
            # The following "participant access by related meeting" relations are conditional
            # because they depend on the past meeting artifact_visibility setting. Auditors
            # and writers do however by default have access to view the summary.
            define past_meeting_for_participant_view: [v1_past_meeting]
            define past_meeting_for_attendee_view: [v1_past_meeting]
            define past_meeting_for_host_view: [v1_past_meeting]
            # If the artifact_visibility is public, then every user should be a viewer
            define viewer: [user:*] or writer or auditor or invitee from past_meeting_for_participant_view or attendee from past_meeting_for_attendee_view or host from past_meeting_for_host_view
{{- end }}
